/*UNIVERSAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;

    color: white;
}

/*MAIN BODY BACKGROUND COLOR*/
body{
    background: rgb(132,255,199);
    background: -moz-linear-gradient(90deg, rgba(132,255,199,1) 0%, rgba(128,233,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(132,255,199,1) 0%, rgba(128,233,255,1) 100%);
    background: linear-gradient(90deg, rgba(132,255,199,1) 0%, rgba(128,233,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#84ffc7",endColorstr="#80e9ff",GradientType=1);
}

/*POKEMON HOME PAGE IMAGE*/
.header-img{
    width: 96px;
    height: 60px;
}

/*ITEMS INSIDE THE NAVBAR: HOME, STORE ETC.*/
.nav-item{
    font-size: 25px;
    font-weight:bolder;
}

/*HOME PAGE MAIN (WHERE FANTASY MEETS REALITY*/
.wrapper{
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 1px;
    background: rgb(158,250,124);
    background: -moz-radial-gradient(circle, rgba(158,250,124,1) 0%, rgba(28,189,255,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(158,250,124,1) 0%, rgba(28,189,255,1) 100%);
    background: radial-gradient(circle, rgba(158,250,124,1) 0%, rgba(28,189,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9efa7c",endColorstr="#1cbdff",GradientType=1);
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: #FBA834;
}

.btn-primary:hover {
    background-color: #FBA834 !important;
    border-color: #FBA834 !important;
}

.navbar-nav li.nav-item a.nav-link.active {
    font-weight: bold;
}

.feature-box{
    padding: 30px;
}

.feature-box h1{
    margin-top: 20%;
}

.feature-box p{
    margin: 50px auto;
}

.title-img{
    width: 100%; 
    max-width: 100%; 
    height: fit-content; 
    width: fit-content;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.feature-img{
    width: 100%;
    padding: 40px;
    border-radius: 10%;
}

.card{
    margin: 20px auto; 
    border-radius: 10px;
    padding-top: 20px; 
    padding-bottom: 20px; 
    box-shadow: 0 0 1px;
    align-items: center;
    background: rgb(158, 250, 124);
    background: -moz-radial-gradient(circle, rgba(158, 250, 124, 1) 0%, rgba(28, 189, 255, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(158, 250, 124, 1) 0%, rgba(28, 189, 255, 1) 100%);
    background: radial-gradient(circle, rgba(158, 250, 124, 1) 0%, rgba(28, 189, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9efa7c", endColorstr="#1cbdff", GradientType=1);
}

.card-body {
    height:auto;
    padding: 10px;
    align-items: center;
}

.container1 {
    display: flex;
    justify-content: space-between;
}

.col-md-4 {
    flex: 0 0 50%; 
    max-width: 100%;
    margin: 0;
}
  
.btn-One, .btn-Two {
    display: block;
    margin: 0 auto;
    width: 200px; 
    height: auto; 
}

.img-fluid:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
}



@media (max-width: 768px) {
.container1 {
    flex-wrap: wrap;
}
  
.col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px; 
}
}

.login-button{
    padding: 20px;
}

.form-floating{
    font-weight: 100;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 

}

.container3 .login-button {
    margin-left: 10px; 
}

#new-account {
    text-align: center;
}

.card-img-top{
    width: 256px;
    height: 256px;
    align-items: center;
}

.wrapper:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
}

.card:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
}

.card-title{
    color: white;
}

#floatingInput{
    color: black;
}

.form-control{
    color: black;
}

.form-floating input.form-control {
    background-color: white;
    color: black;
    border-radius: 10px;
  }

.form-floating input.form-control::placeholder {
    color: gray;
}

.login-button {
    margin-top: 20px;
}

#proceed-to-checkout {
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: lighter;
}

#proceed-to-checkout:hover {
    background-color: darkgreen;
}

.container .row .col-md-6 .card-body button.btn-primary {
    background-color: #b170b8;
    border-color: #b170b8;
}







footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background: rgb(0,211,255);
    background: -moz-linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(0,255,139,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(0,255,139,1) 100%);
    background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(0,255,139,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d3ff",endColorstr="#00ff8b",GradientType=1);
}

.footerContainer{
    width: 100%;
}

.collab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collab-img{
    max-width: 50%;
    max-height: 50%;
}

.footerBottom{
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: black;
    font-size: small;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}